.lower-right-area {
    display: flex;
    flex-direction: column;
}

.filter-area {
    width: 100%;
    margin-bottom: 0;
}

.sort-area {
    height: 4rem;
}

.sort-select-container {
    display: inline-block;
}

.sort-select-container.input-field {
    margin-top: 0.7rem;
}

.select-chip>label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.select-chip input.select-dropdown {
    width: calc(100% - 40px);
    height: 100%;
    border: none;
    margin: 0;
    margin-left: 0.5rem;
}

.select-chip input.select-dropdown:focus {
    border: none;
}

.search-area {
    display: flex;
    height: 4rem;
    flex-direction: row;
    align-items: center;
}

.search-area > label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.search-icon {
    width: 3rem;
    height: 2.5rem;
    padding: 0.75rem;
    padding-top: 0.35rem;
}

.search-inputarea {
    margin: 0;
    margin-left: 0.3rem;
    flex-grow: 1;
}

.results-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: auto;
}

.results-status {
    text-align: center;
}

.results-status.error {
    background-color: white;
    border: 1px solid tomato;
    color: tomato;
}

.result-item {
    width:100%;
}

.result-item {
    margin: 0.2rem 0;
}

.result-item > div {
    display: grid;
    grid-template-columns: 1fr 0fr 7fr 0fr 3fr 0fr 1fr;
    align-items: center;
    padding: 0.5rem 0;
    color: unset;
    cursor: pointer;
}

.result-item input[type=radio]:checked + div {
    background-color: #eee;
    border: 1px solid var(--colorAccent);
}

.result-item-section {
    padding: 0 1rem;
}

.result-item-section p {
    margin: 0;
}

.result-item-section-distance {
    text-align: center
}

.result-item-section-distance-number {
    font-size: 2rem;
}

.result-item-section-main {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.result-item-section-name {
    font-size: 1.6rem;
}

.result-item-section-amenities {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-auto-rows: 1fr;
     grid-row-gap: 0.5rem;
     grid-column-gap: 0.2rem;
     font-size: 2rem;
     text-align: center;
     padding: 0 0.5rem;
}

.result-item-section-rating {
    text-align: center
}

.result-item-section-rating-number {
    font-size: 2rem;
}

.vertical-divider {
    border: solid #aaa 1px;
    height: 80%;
    background-color: #aaa;
}
@media only screen and (max-width: 992px) {
    .result-item-section-amenities {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .result-item-section-amenities {
        grid-template-columns: 1fr 1fr;
    }
}
